@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  overflow: hidden;
}

.body {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -10px;
  width: auto;
  height: auto;
  background-image: url(https://i.pinimg.com/736x/84/2e/8f/842e8f6a155d50135b4b80d4313c4973.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
  overflow: hidden;
}

.grad {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.65))
  ); /* Chrome,Safari4+ */
  z-index: 1;
  opacity: 0.7;
  overflow: hidden;
}

.header {
  overflow: hidden;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(10% - 455px);
  z-index: 2;
  width: 100%;
  text-align: center;
}

.header div {
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.header div span {
  color: RED !important;
}

.login {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 175px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type="text"],
.login input[type="password"] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type="password"] {
  margin-top: 10px;
}

.login input[type="button"] {
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.login input[type="button"]:hover {
  opacity: 0.8;
}

.login input[type="button"]:active {
  opacity: 0.6;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus,
.login input[type="button"]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 700px) {
  .header {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    text-align: center;
  }

  .login {
    position: absolute;
    top: 40%;
    left: 10%;
    margin: 20px auto;
    width: 80%; 
    max-width: 400px; 
  }

  .login input[type="text"],
  .login input[type="password"] {
    width: 100%; 
  }

  .login input[type="button"] {
    width: 100%; 
  }
}
@media (min-width: 701px) and (max-width: 1300px) {
  .header {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    text-align: center;
  }

  .login {
    position: absolute;
    top: 40%;
    left: 35%;
    margin: 20px auto;
    width: 80%;
    max-width: 400px; 
  }

  .login input[type="text"],
  .login input[type="password"] {
    width: 100%; 
  }

  .login input[type="button"] {
    width: 100%;
  }
}
